.page-content{
  background: #8fd3f4;
  background-image: linear-gradient(180deg, $color-theme-1 0%, $color-theme-2 100%);

  .wrapper {
    background-color: $color--white;
    padding: $padding-medium;
  }
}