.page-content{

  .wrapper {
    background-color: $color--white;
    padding: $padding-medium;
  }


  .page-heading, .post-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: $font-size--h1;
    border-bottom: 4px solid $color--fuschia;
    line-height:  27px;
  }
}