

@mixin text-gradient($deg, $color1, $color2){
  background: -webkit-linear-gradient($deg, $color1 0%, $color1 30%, $color2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
