@import url('https://fonts.googleapis.com/css?family=Pacifico');

//-- Colours
$color-base:white;

//-- Fonts
$heading-font: 'Pacifico', cursive;
$base-font: 'Quicksand', sans-serif;

//Menu
$menu-color: #333;
$submenu-color: #33cccc;
$link-color:white;

//-- Breakpoints
$breakpoint-medium: 768px;