html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: $base-font;
  background-color: $color--dark;
}

h1,
h2,
h3 {
  margin: 0;
}

a,
a:visited {
  color: $text-color--dark;
}