.page-content{
  background-color: $color--white;

  .page-heading, .post-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: $font-size--h1;
    border-bottom: 4px solid $color--fuschia;
    line-height:  27px;
  }
}

.post-list {
  margin-top: $padding-large;

  li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    @media(max-width:$ipad){
      flex-direction: column;
      align-items: flex-start;
    }

    &:hover {
      .post-meta {
        background-color: $color--fuschia;
        color: $text-color--white;
        transform: translateX(0px);
      }

      a {
        text-decoration: none;
        background: #f4f2f3;
        padding-left:10px;

        &:before {
          display:block;
          content:'';
          position:absolute;
          left:0;
          width:0;
          height:50px;
          padding:20px 0;
          background-image: linear-gradient(60deg, $color-theme-2 25%, $color--fuschia 75%,  $color--light-grey 100%);
          mix-blend-mode: screen;
          animation: full-width 1s 1 forwards;
        }

        &:after {
          display:block;
          content:'';
          position:absolute;
          bottom: 0;
          left:0;
          width:100%;
          height:2px;
          background-image: linear-gradient(60deg, $color-theme-2 25%, $color--fuschia 75%,  $color--light-grey 100%);
        }

        @media(max-width:$ipad){
          &:before,
          &:after {
            display:none;
          }
        }
      }
    }
  }

  .post-meta {
    position: relative;
    color:$color--dark;
    padding:$padding-small;
    text-transform: uppercase;
    transition: 1s;
    transform: translateX(-30px);

    @media(max-width:$ipad){
      transform: translateX(0);
    }

  }

  a {
    position: relative;
    color: $text-color--dark;
    transition: .5s;
    display: inline-block;

  }
}

@keyframes full-width {
  from {
     width:1px;
   }

  to {
    width:100%;
  }
}