@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$base-font:'Open Sans', sans-serif;


$color-theme-1: #8fd3f4;
$color-theme-2: #33cccc;
$color--dark: #333;
$color--light-grey: #e0e0e0;
$color--white: #fff;
$color--pink: #ffd4f2;
$color--fuschia: #eb01a5;

$text-color--white: #fff;
$text-color--dark: #333;

$margin-base: 8px;
$margin-large: 30px;

$padding-small: 5px;
$padding-base: 8px;
$padding-medium: 20px;
$padding-large: 30px;


$font-size--small: 14px;
$font-size--base: 16px;
$font-size--h1: 18px;
$font-size--icon: 30px;

$profile-picture-dim: 120px;


$ipad: 768px;