<footer>
    <div class="profile-picture"></div>
    <div class="description">
        <p>{{ site.description }}</p>
    </div>
    <ul class="social-links">
        <li class="social-links__item twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <a aria-label="twitter account" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">{{ site.twitter_username }}</a>
        </li>
        <li class="social-links__item github">
            <i class="fa fa-github" aria-hidden="true"></i>
            <a aria-label="github account" href="https://github.com/{{ site.github_username }}" target="_blank">{{ site.github_username }}</a>
        </li>
    </ul>
</footer>