---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/theme.css' | relative_url }}">
    <title>{{ site.title }} | About</title>
</head>
{% include header.html %}
<div class="page-content">
    <div class="wrapper">
        <h1> About me </h1>
        <h3>Background</h3>
        <p>I am originally from Sweden but moved to Brighton in 2015. I completed a web design diploma from Hove College in February 2016 and spent 1 year working on my skills and building my portfolio in my spare time. During this year, I was a regular attendee of codebar Brighton, which is an amazing non-profit initiative that helps underrepresented get in to tech. Besides working on my portfolio, I met loads of passionate developers around Brighton.
            Thanks to the connections I made, I landed my first web developer role in June 2017.</p>
        <p>I am currently a junior front-end developer at Gene Commerce. Gene is a brilliant Magento agency with some really exciting clients.</p>
        <h3>Free time</h3>
        <p>I still spend most of my Tuesday evenings at codebar, that I now co-organise with 3 other lovely women and I regularly coach beginners in HTML/CSS. I love attending other tech events around Brighton like SheSays.</p>
    </div>
</div>
{% include footer.html %}
</html>