.section{
  //fallback
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;

  .item {
    margin:1em;
    padding:20px;
    border:1px #d2dff4 solid;
    background-color: #f7f7f7;

  }

  .project__item{
    width:300px;
  }

  @supports (display: grid) {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows:20% auto 20%;
    grid-gap:1em;

    .project__item {
      width:auto;
    }
  }
}

