.hamburger {
  position:fixed;
  top:0;
  right:20px;
  width:75px;
  height: 60px;
  border-radius: 5px;
  z-index:2;

  @media(min-width:$breakpoint-medium){
    display:none;
  }
}

.line {
  background-color:#fff;
  width:40px;
  height:5px;
  margin:11px auto;
  transition: 0.5s ease-in;
}

.open .line:nth-child(1) {
  @include transform(translateY(20px) rotate(45deg))
}

.open .line:nth-child(2) {
  opacity:0;
}

.open .line:nth-child(3) {
  @include transform(translateY(-12px) rotate(-45deg))
}