$menu-color: #333;
$submenu-color: #33cccc;
$link-color:white;

.main-nav {
  position:fixed;
  top:0;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  background-color:$menu-color;
  min-height:60px;

  a {
    color:$link-color;
    text-decoration:none;
  }
}

.nav__list{
  width:100%;
  padding:0;
  margin:0;
}

.nav__item {
  display:inline-block;
  position: relative;
  width:120px;
}

//set height on hover
.nav__item:hover .main-sub-nav{
  height: 150px;
}

.nav-title {
  display:block;
  padding:20px 10px;
  text-align: center;
}

@media(max-width:768px){

  .nav__list{
    margin-top:-100%;
    transition: .5s;


    &.active{
      margin-top:60px;
    }
  }

  .nav__item{
    width:100%;
    &:hover{
      background: none;
    }
  }

  .nav-title{
    text-align: left;
    border-bottom:1px inset darken($submenu-color, 5%);

  }
}